*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: hsl(235, 18%, 26%);
}

p {
  font-size: 16px;
}

.newsletter__body {
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
  display: none;
  flex-direction: column-reverse;
}
.newsletter__section-singup {
  flex-grow: 1;
  padding: 10px 20px;
  color: hsl(234, 29%, 20%);
}
.newsletter__title {
  font-size: 38px;
  padding-bottom: 15px;
}
.newsletter__title-description {
  padding-bottom: 15px;
}
.newsletter__list {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.newsletter__icon-list {
  padding-right: 15px;
}
.newsletter__hero-img {
  height: 284px;
  background-image: url(../images/illustration-sign-up-mobile.svg);
  background-size: cover;
  background-position: center;
}
.newsletter__submitBtn {
  width: 100%;
  padding: 16px;
  margin-top: 8px;
  border-radius: 6px;
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.newsletter__submitBtn:hover {
  background: rgb(255, 84, 118);
  background: linear-gradient(158deg, rgb(255, 84, 118) 0%, rgb(255, 103, 63) 92%);
  box-shadow: 0px 15px 15px 3px rgba(255, 84, 118, 0.3);
}
.newsletter__singup-box {
  position: relative;
  display: flex;
  flex-direction: column;
  color: hsl(234, 29%, 20%);
}
.newsletter__singup-box label {
  font-size: 13px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}
.newsletter__singup-box input {
  padding: 16px;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 6px;
}
.newsletter__singup-box .error-text {
  display: none;
}

.active {
  display: flex;
}

.error input {
  border: 1px solid hsl(4, 100%, 67%);
  background-color: hsla(4, 100%, 67%, 0.233);
  color: hsl(4, 100%, 67%);
}
.error .error-text {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 13px;
  font-weight: 700;
  color: hsl(4, 100%, 67%);
}

.popup {
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: hsl(234, 29%, 20%);
}
.popup__message-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-grow: 1;
}
.popup img {
  padding: 30px 0;
}
.popup__title {
  font-size: 42px;
  padding-bottom: 15px;
}
.popup__title-description {
  padding-bottom: 50px;
  line-height: 24px;
}
.popup span {
  font-weight: 700;
}
.popup__closeBtn {
  width: 100%;
  padding: 16px;
  margin-top: 8px;
  border-radius: 6px;
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.popup__closeBtn:hover {
  background: rgb(255, 84, 118);
  background: linear-gradient(158deg, rgb(255, 84, 118) 0%, rgb(255, 103, 63) 92%);
  box-shadow: 0px 15px 15px 3px rgba(255, 84, 118, 0.3);
}

.popup-active {
  display: none;
}

@media (min-width: 992px) {
  .newsletter__body {
    max-width: 1000px;
    height: auto;
    border-radius: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
  .newsletter__section-singup {
    display: flex;
    align-items: center;
    flex-grow: 0;
    color: hsl(234, 29%, 20%);
  }
  .newsletter__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 593px;
    padding: 20px;
  }
  .newsletter__title {
    font-size: 60px;
  }
  .newsletter__title-description {
    font-size: 20px;
    padding: 20px 0;
  }
  .newsletter__list {
    padding: 10px 0;
    font-size: 20px;
  }
  .newsletter__icon-list {
    padding-right: 15px;
  }
  .newsletter__singup-box {
    margin-top: 20px;
  }
  .newsletter__singup-box label {
    font-size: 16px;
  }
  .newsletter__singup-box input {
    padding: 22px;
    font-size: 16px;
  }
  .newsletter__submitBtn {
    padding: 22px;
    margin-top: 20px;
    font-size: 18px;
  }
  .newsletter__section-img {
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
  }
  .newsletter__hero-img {
    height: 593px;
    width: 400px;
    background-image: url(../images/illustration-sign-up-desktop.svg);
    background-size: cover;
    background-position: center;
  }
  .error .error-text {
    font-size: 16px;
  }
  .popup {
    height: 40vh;
    width: 40vh;
    padding: 50px;
    border-radius: 30px;
  }
  .popup img {
    padding-top: 50px;
  }
  .popup__title {
    font-size: 60px;
    padding-bottom: 30px;
  }
  .popup__title-description {
    padding-bottom: 30px;
    line-height: 24px;
  }
  .popup__closeBtn {
    width: 100%;
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */